---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			He trabajado y desarrollo  en todos estos lenguajes y frameworks. 
			
		</p>
		<p>
			Soy un fullstack developer en continua formación y crecimiento. 
			Siempre atento a los requerimientos del mercado para poder ofrecer las mejores soluciones. 
		</p>
	</div>
</section>
